APP_NAME=wanli
APP_ENV=dev
APP_DEBUG=true
APP_TIMEZONE=Asia/Shanghai

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=wl
DB_USERNAME=wl
DB_PASSWORD=wl
DB_PREFIX=video_

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_AUTH=

JWT_SECRET=change_me_to_a_long_random_string
JWT_TTL=86400
