.env
/runtime/*
!/runtime/view/
!/runtime/manager/
!/runtime/public/
!/runtime/static/
!/runtime/video/
!/runtime/dynamic/
/storage/view/compiled
/vendor/
composer.lock
*.log
.phpunit.result.cache

# 前端
/frontend/*/node_modules/
/frontend/dist-*

# 支付子进程运行日志
/bin/pay/**/log.txt
